@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
    --color-pro-blue: #3B82F6;
    --color-pro-pink: #EC4899;
    --color-pro-orange: #F97316;
    --color-pro-green: #22C55E;
    --color-pro-cyan: #06B6D4;
    --color-pro-gray: #6B7280;
}

@layer base {
  html.dark body {
    background-color: #111827; 
    color: #f9fafb;            
  }
  body {
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
}

/* Custom Scrollbar cho List */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* gray-300 */
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* gray-400 */
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569; /* gray-600 */
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* gray-500 */
}