@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
    --color-pro-blue: #3B82F6;
    --color-pro-pink: #EC4899;
    --color-pro-orange: #F97316;
    --color-pro-green: #22C55E;
    --color-pro-cyan: #06B6D4;
    --color-pro-gray: #6B7280;
    
    --color-trello-bg: #1d2125;
    --color-trello-header: #1d2125;  
    --color-trello-content: #323940; 
    --color-trello-card: #22272b;     
    --color-trello-text: #9fadbc;     
    --color-trello-subtext: #b6c2cf;  
    --color-trello-border: #454F59;   
}

@layer base {
  html.dark body {
    background-color: #1d2125; 
    color: #9fadbc;            
  }
  body {
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 3px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #384148; 
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5a6672; 
}